.git
**/.git
**/node_modules
**/build
frontend/build
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.pyc
.emergent
**/.emergent
test_reports
tests
backend/tests
*.log
README.md
.gitignore
design_guidelines.json
memory
